// ============================================================================
//
//  [Table of Contents]
//
//  - Footer
//  - Footer link
//  - Footer brand
//  - Footer contact info
//  - Footer nav
//  - Footer credits
//  - Footer sections
//
// ============================================================================




//
// Wrapper and base class
// ======================

.footer {
  font-size: $font-size-sm;
}




//
// Footer link
// ===========

.footer a {
  border-bottom: $border-width solid rgba($white, .075);

  @include plain-visited {
    color: inherit;
  }

  @include hover-focus {
    color: $white;
    border-color: transparent;
  }
}




//
// Footer brand
// ============
//
// Used for brand, project, or site name.
// ----------------------------------------------------------------------------

.footer-brand {
  display: block;
}




//
// Footer contact info
// ===================

.footer-contact-info {

  address {}
}




//
// Footer nav
// ==========
//
// 1. Custom `.nav` component to create a label above `.nav-link` items.
// ----------------------------------------------------------------------------

.footer .nav {

  .nav-label { // 1

  }

  .nav-link {

      @include plain-visited {}

      @include hover-focus {}
  }
}




//
// Footer credits
// ==============
//
// Copyright, Accuraty credit, etc.
// ----------------------------------------------------------------------------

.footer-credits {
  color: inherit;

  span {
    display: inline-block;

    &:not(:first-of-type) {
      margin-left: .65rem;
    }
  }
}




//
// Footer sections
// ===============
//
// Used to organize the footer. These are used in the markup as siblings to
// `.container-fluid`, so be mindful of margin and spacing style overrides.
// ----------------------------------------------------------------------------

.footer-upper {}

.footer-lower {
  font-size: $font-size-xs;
  color: rgba($white, .6);

  a {
    border-bottom: $border-width solid rgba($white, .075);

    @include plain-visited {
      color: inherit;
    }

    @include hover-focus {
      color: rgba($white, .85);
      border-color: transparent;
    }
  }
}
