# SYSTEM
.DS_Store
Thumbs.db

# BUILD FILES
**/node_modules/
**/yarn-error.log
**/npm-debug.log

# ASSETS
**/public/
**/*.map
**/*.css
**/*.bundle.js

# TEMP
.cache
.sass-cache/
*.log
/logs/
/tmp/
**/.tmp/

# MISC FILES
*~
*.zip
*.err
.cache
.idea
.project
.settings
*.esproj
*.sublime*
*.tmproj
*.tmproject
nbproject
.vscode
config.codekit3
prepros-6.config
sftp-config.json
.vscode/sftp.json
