// ============================================================================
//
//  [Table of Contents]
//
//  - Wrapper and base class
//
// ============================================================================




//
// Wrapper and base class
// ======================

.header {

  &.fixed-to-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;

    // Reposition fixed `.header` so DNN Persona Bar doesn't overlap it
    .hasDnnPersonaBar & {
      left: $dnn-persona-bar-width;
    }
  }
}
