//
// Wrapper and base class
// ======================

.header {
  background-color: $body-bg;

  &.fixed-to-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: transform;
    will-change: transform;

    &.is-hidden {
      transform: translateY(-100%);
    }

    // Reposition fixed `.header` so DNN Persona Bar doesn't overlap it
    .personabar-visible & {
      left: $dnn-persona-bar-width;
    }
  }
}
