<?xml version="1.0" encoding="utf-8"?>
<AnalyticsConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Settings>
    <AnalyticsSetting>
      <SettingName>TrackingId</SettingName>
      <SettingValue>__YOUR_GOOGLE_ANALYTICS_CODE__</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>UrlParameter</SettingName>
      <SettingValue />
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>TrackForAdmin</SettingName>
      <SettingValue>false</SettingValue>
    </AnalyticsSetting>
  </Settings>
</AnalyticsConfig>
