// ============================================================================
//
//  [Table of Contents]
//
//  - Inline code
//  - User input
//  - Blocks of code
//
// ============================================================================




//
// Inline code
// ===========

code {

  a > & {}
}




//
// User input
// ==========
//
// Input typically entered via a keyboard.
// ----------------------------------------------------------------------------

kbd {

  kbd {}
}




//
// Blocks of code
// ==============

pre {

  code {}
}
