/* stylelint-disable no-duplicate-selectors */

// ============================================================================
//
//  Reset
//
//  This file is to reset opinionated styles and common conflicts created
//  by using DNN and Bootstrap together. The purpose of this reset is to give
//  us a clean(er) canvas to use Bootstrap without ugly hacks in the codebase.
//
// ============================================================================



// ----------------------------------------------------------------------------
//
//  1. Quick, specific fixes
//
// ----------------------------------------------------------------------------

.DnnModule {
  position: relative;
  clear: both;

  & + .DnnModule {
    margin-top: ($spacer * 2);
  }
}

body:not(.dnnEditState) .DNNEmptyPane {
  display: none;
}

.form-group .dnnLabel {
  width: auto;
  text-align: left;
}

.dnnLabel + span {
  white-space: normal;
}

#ControlBar_ControlPanel *,
#ControlBar,
#ControlBar::before,
#ControlBar::after,
#ControlBar li,
#ControlBar li::before,
#ControlBar li::after,
#ControlBar a,
#ControlBar a::before,
#ControlBar a::after,
.actionMenu *,
.dnn_mact,
.dnn_mact::before,
.dnn_mact::after,
.dnn_mact li,
.dnn_mact li::before,
.dnn_mact li::after {
  box-sizing: content-box !important;
}

#ControlBar_ControlPanel .mark {
  padding: 0;
  background-color: transparent;
}

.ui-dialog {
  font-family: Arial, sans-serif;
  color: $black;
}

.dnnDropDownList .selected-item,
.dnnDropDownList .selected-item a {
  height: auto !important;
}

#dnnModuleDigitalAssetsMainToolbarTitle {
  padding: 1rem .5rem 0 !important;
  font-size: $font-size-sm !important;
  color: rgba($black, .6) !important;
}

#dnnModuleDigitalAssetsMainToolbar,
#dnnModuleDigitalAssetsSelectionToolbar {
  height: auto !important;
  min-height: auto !important;
  padding: .375rem .5rem !important;
  @include clearfix;
}

.dnnEditState .dnnModuleManager {
  width: 100%;

  // THIS IS A HACK!
  // After DNN 9.3, this will no longer be necessary.
  // This makes Pane names visible in Edit mode.
  // https://github.com/dnnsoftware/Dnn.EditBar/issues/25
  &::before {
    position: absolute;
      top: .5rem;
      left: .5rem;
    z-index: 1;
    display: inline-block;
    padding: $badge-pill-padding-x $badge-pill-padding-x;
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;
    line-height: 1;
    color: $white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    content: attr(data-name);
    background-color: $gray-600;
    @include border-radius($badge-pill-border-radius);
  }
}




// ----------------------------------------------------------------------------
//
//  2. Reset DNN styles from `_default.css`
//
// ----------------------------------------------------------------------------


//
// Modules
// =======
//
// Reference: _default.css:22 (DNN 8)
//
// 1. Module titles.
// 2. Text inside modules.
// 3. Help text rendered by modules.
// 4. Rendered text that requires emphasis.
// 5. Used for error messages.
// ----------------------------------------------------------------------------

.Head { // 1
  display: initial;
  margin: 0;
}

.Normal,
.NormalDisabled,
.NormalDeleted { // 2
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

.NormalDisabled,
.NormalDeleted {
  color: $text-muted;
}

.Help { // 3
  color: theme-color-level("warning", 6);
  background-color: theme-color-level("warning", -10);
  border: $alert-border-width solid theme-color-level("warning", -9);
}

.NormalBold { // 4
  font-weight: $font-weight-bold;
  color: inherit;
}

.NormalRed { // 5
  font-weight: $font-weight-bold;
  color: theme-color("danger");
}



//
// Blockquote
// ==========
//
// Reference: _default.css:260 (DNN 7)
// ----------------------------------------------------------------------------
blockquote {
  padding: 0;
  border: 0;

  &,
  p {
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    color: inherit;
  }

  cite {
    display: initial;
    font-size: inherit;
    color: inherit;

    &::before {
      display: none;
      content: "";
    }

    a {
      @include plain-visited {
        color: inherit;
      }
    }
  }
}



//
// Anchor styles
// =============
//
// Reference: _default.css:297 (DNN 7)
// ----------------------------------------------------------------------------

a {

  @include plain-visited {
    color: inherit;
    text-decoration: inherit;
    outline: inherit;
  }

  @include hover-focus-active {
    color: inherit;
    outline: inherit;
  }
}




//
// Image styles
// ============
//
// Reference: _default.css:315 (DNN 7)
// ----------------------------------------------------------------------------

// img {}




//
// List styles
// ===========
//
// Reference: _default.css:333 (DNN 7)
// ----------------------------------------------------------------------------

ul,
ol {
  margin: 0;
  list-style: inherit;

  ul,
  ol {
    margin: 0;
    list-style: inherit;
  }
}

li {
  p {
    line-height: inherit;
  }
}



//
// Message
// =======
//
// Bring these messages into alignment with Bootstrap alerts.
//
// Reference: _default.css:100 (DNN 8) / _default.css:364 (DNN 7)
// ----------------------------------------------------------------------------

.dnnFormMessage {
  max-width: none;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  color: theme-color-level("info", 6);
  background-color: theme-color-level("info", -10);
  border: $alert-border-width solid theme-color-level("info", -9);
  @include border-radius($alert-border-radius);

  &.dnnFormError,
  &.dnnFormValidationSummary {
    color: theme-color-level("danger", 6);
    background-color: theme-color-level("danger", -10);
    border-color: theme-color-level("danger", -9);
  }

  &.dnnFormWarning {
    color: theme-color-level("warning", 6);
    background-color: theme-color-level("warning", -10);
    border-color: theme-color-level("warning", -9);
  }

  &.dnnFormSuccess {
    color: theme-color-level("success", 6);
    background-color: theme-color-level("success", -10);
    border-color: theme-color-level("success", -9);
  }
}



//
// Tables
// ======
//
// DNN uses `.dnnTableHeader` and `.dnnTableDisplay`. Skipping this.
//
// Reference: _default.css:130 (DNN 8) / _default.css:394 (DNN 7)
// ----------------------------------------------------------------------------




//
// Pagination
// ==========
//
// DNN uses `.dnnResults` and `.dnnPagination`. Skipping this.
//
// Reference: _default:css:285 (DNN 8) / _default.css:549 (DNN 7)
// ----------------------------------------------------------------------------




//
// Forms
// =====
//
// Reference: _default:css:321 (DNN 8) / _default.css:585 (DNN 7)
// ----------------------------------------------------------------------------

.dnnFormItem input[type="text"],
.dnnFormItem select,
.dnnFormItem textarea,
.dnnFormItem input[type="email"],
.dnnFormItem input[type="tel"],
.dnnFormItem input[type="search"],
.dnnFormItem input[type="password"] {
  margin: 0;
  box-shadow: initial;
  @extend .form-control;
}

.dnnFormItem select {
  @extend select.form-control;

  option {
    color: $gray-800;
  }
}

//## Error styles
.error label,
legend.error {
  color: rgba(theme-color("danger"), .9);
}

.error select,
.error textarea,
.error input[type="text"],
.error input[type="email"],
.error input[type="search"] {
    color: rgba(theme-color("danger"), .7);
    border: 1px solid rgba(theme-color("danger"), .6);
}




//
// Password Strength
// =================

.password-strength-container {
  width: inherit;
  max-width: inherit;

  input[type="password"] {
    padding-right: 2.5rem;
    margin-bottom: 0;
  }

  .meter {

    &::after {
      display: table;
      clear: both;
      content: "";
    }

    &.visible {
      height: auto;
      margin-top: 1rem;
    }

    label {
      display: none;
    }
  }
}



//
// Buttons
// =======
//
// Reference: _default.css:410 (DNN 8) / _default.css:674 (DNN 7)
// ----------------------------------------------------------------------------

.dnnFormItem button,
.dnnFormItem input[type="button"],
.dnnFormItem input[type="reset"],
.dnnFormItem input[type="submit"],
.dnnPrimaryAction,
.dnnSecondaryAction,
.dnnTertiaryAction {
    padding: $input-btn-padding-y $input-btn-padding-x;
    margin-bottom: 9px;
    font-weight: $font-weight-bold;
    background-color: $gray-200;
    border: 1px solid $gray-400;
    border-radius: $border-radius;

    @include plain-visited {
      color: $gray-800;
    }
}


//## Primary Action

.dnnPrimaryAction,
.dnnFormItem input[type="submit"],
a.dnnPrimaryAction {
  text-shadow: 0 -1px 0 #185b93;
  background: #3792ed;
  background: linear-gradient(to bottom, #358eea 0%, #2170cd 100%);
  border-color: #0d569e; /* dark blue */
  box-shadow: 0 1px 0 0 rgba($black, .6), inset 0 1px 0 0 rgba($white, .4);

  @include plain-visited {
    color: #efefef;
  }

  @include hover-focus {
    color: $white;
    background: #6cb6f3;
    background: linear-gradient(to bottom, #6cb6f3 0%, #4387d2 100%);
    border-color: #0d569e;
  }

  &:active {
    color: $white;
    background: #1f66be;
    background: linear-gradient(to bottom, #1f66be 0%, #3085e0 100%);
    border-color: #0d569e;
    box-shadow: inset 0 1px 5px 0 rgba($black, .4);
  }
}

.dnnPrimaryAction[disabled],
.dnnPrimaryAction[disabled]:hover,
.dnnPrimaryAction[disabled]:active {
  color: $gray-500 !important;
  background: $gray-400 !important;
  border: none !important;
}


//## Secondary Action

.dnnFormItem button,
.dnnFormItem input[type="button"],
.dnnFormItem input[type="reset"],
.dnnSecondaryAction,
a.dnnSecondaryAction {
  text-shadow: 0 1px 0 $white;
  background: #f5f5f5;
  background: linear-gradient(to bottom, #f5f5f5 0%, #dfdfdf 100%);
  box-shadow: 0 1px 0 0 rgba($black, .4), inset 0 1px 0 0 rgba($white, 1);

  @include plain-visited {
    color: $gray-800;
  }

  @include hover-focus {
    color: #555;
    background: #fefefe;
    background: linear-gradient(to bottom, #fefefe 0%, #e8e8e8 100%);
  }

  &:active {
    background: #c6c6c6;
    background: linear-gradient(to bottom, #c6c6c6 0%, #f3f3f3 100%);
    border-color: #999;
    box-shadow: inset 0 1px 5px 0 rgba($black, .4);
  }
}

//## Tertiary Action
.dnnTertiaryAction,
a.dnnTertiaryAction {
  padding: $input-btn-padding-y $input-btn-padding-x;
  background-color: $gray-200;
  border: none;

  @include plain-visited {
    color: $gray-800;
  }

  @include hover-focus {
    background-color: $gray-100;
  }

  &:active {
    background-color: $gray-300;
  }
}


// //## Action Button behind input

// .dnnFormItem input[type="text"] {

//   & + a.dnnPrimaryAction,
//   & + a.dnnSecondaryAction,
//   & + a.dnnTertiaryAction {
//     margin-left: 5px;
//   }
// }

// .dnnFormItem input[type="checkbox"] + span,
// .dnnFormItem input[type="radio"] + span {
//   margin: 5px;
// }


//## Buttons and link buttons used in the portal admin pages

.StandardButton {
  border: 1px solid color("blue");
}




//
// Tabs : jQuery UI tabs 1.8.14
// ============================
//
// DNN uses `.dnnAdminTabNav`. Skipping this.
//
// Reference: _default.css:698 (DNN 8) / _default.css:962 (DNN 7)
// ----------------------------------------------------------------------------




//
// Login Tab Group
// ===============
//
// Skipping, for now.
//
// Reference: _default.css:744 (DNN 8) / _default.css:1007 (DNN 7)
// ----------------------------------------------------------------------------




//
// Tabs : jQuery UI Resizable 1.8.14
// =================================
//
// Skipping this.
//
// Reference: _default.css:770 (DNN 8) / _default.css:1033 (DNN 7)
// ----------------------------------------------------------------------------




//
// Form Items
// ==========
//
// Reference: _default.css:854 (DNN 8)
// ----------------------------------------------------------------------------

.dnnForm {
  // width: initial;

  fieldset {
    // clear: initial;
    // position: initial;
    // margin: 0;
    // text-align: initial;
    // border: initial;

    fieldset {}
  }

  .dnnFormItem {
    margin-bottom: $form-group-margin-bottom;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


//## Label

.dnnTooltip {}

.dnnHelperTip {}

.dnnDragdropTip {}

span.dnnFormRequired::after,
div.dnnFormItem.dnnFormRequired > div.dnnLabel span::after {
  margin: 0 0 0 .25rem;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  color: theme-color("danger");
}

.dnnFormItem input[type="checkbox"] + span,
.dnnFormItem input[type="radio"] + span {}


//## Help label

a.dnnFormHelp,
.dnnForm .dnnFormItem a.dnnFormHelp,
.dnnTooltip label a.dnnFormHelp {}

a.dnnFormHelp {}

.dnnFormItem > .dnnLabel {}

.dnnLabel > span {}

.dnnForm .dnnFormItem a.dnnFormHelp span {}

.dnnForm .dnnFormItem a.dnnFormHelp img {}

.dnnLabel + span {
  display: inline-block;
  margin: 0;
}


//## Help tooltip

.dnnTooltip .dnnFormHelpContent,
.dnnHelperTip .dnnFormHelpContent {}

.dnnFormHelpContent span {}

.bottomArrow::after {}

.topArrow::before {}

a.pinHelp {}


//## Error tooltip

.dnnFormItem span.dnnFormMessage.dnnFormError {
  font-size: $font-size-xs;
  color: $white;
  background-color: rgba(theme-color("danger"), .75);
  border-radius: $border-radius;

  &::after {
    border-top-color: theme-color("danger");
  }
}

//## Input customized checkbox

.dnnCheckbox {

  .mark {
    padding: 0;
    background: none;
  }

  img {}
}


//## Input customized radiobutton

.dnnRadiobutton {

  .mark {}

  img {}
}


//## General group

div.dnnFormGroup {}


//## Input customized spinner

.dnnSpinner {
  color: $gray-800;
  background: linear-gradient(to bottom, #fff 0%, #f0f2f1 100%);
  background-color: $white;
  border-color: $gray-400;
  box-shadow: 0 1px 0 0 $gray-500;

  .dnnFormItem & {}
}

.dnnSpinnerDisplay {
  color: $gray-600;
}


//## Input customized tags

div.dnnTagsInput {}


//## DNN auto complete

.dn_acResults {}

.dnnPlaceholder{
  color: $gray-600;
}


//## DNN login, registration, etc. (Account modules)

.dnnLogin,
.dnnSendPassword,
.dnnRegistrationForm {

  .dnnFormItem {
    .dnnLeft {
      float: none;
    }
  }

  .dnnLabel {
    float: none;
    width: initial;
    margin: 0;
    text-align: left;
  }

  ul.dnnActions {
    display: block;
    padding: 0 !important;
    margin: 0 !important;

    li {
      display: inline-block;
      float: none;
      margin: 0 .25rem 0 0 !important;
    }
  }

  // hide the empty label beside the form buttons
  .dnnFormItem > span.dnnFormLabel {
    display: none;
  }
}

.LoginPanel {
  float: none;
  width: auto;
  padding: 0;

  .dnnLoginActions {
    display: block;
    margin-top: 3rem;
  }

  .dnnLoginRememberMe {
    .dnnCheckbox {
      margin: 0 .5rem 0 0;
    }
  }
}

.dnnSendPassword {

  & > div:not(:last-child) {
    margin-bottom: 1rem;
  }

  .dnnSendPasswordContent {
    width: initial;
  }
}

.dnnRegistrationForm {

  .dnnCaptcha {
    width: auto !important;
    padding: 0;
    margin: 0;
  }
}

.dnnSocialRegistration {
  display: none;
}
