//
// Site menu
// =========
//
// Used to add an admin menu independent of the primary nav.
// ----------------------------------------------------------------------------

#SiteMenu {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: $zindex-fixed;

  .personabar-visible & {
    left: calc(#{$dnn-persona-bar-width} + 1rem);
  }

  // Nested dropdowns, when the site menu is not
  // included with the `NavMenu` JS component.
  &:not(.dropdown--hoverable) {
    .dropdown-menu.show .dropdown:hover .dropdown-menu {
      display: block;
    }
  }
}
