//
// Content inside DNN modules
// ==========================

.DnnModule {
  color: $body-color;

  a:not(.btn) {
    border-bottom: $border-width solid $link-border-color;
    font-weight: $weight-bold;

    @include hover-focus {
      border-bottom-color: $link-hover-border-color;
    }
  }

  li + li {
    margin-top: ($spacer / 4);
  }

  blockquote,
  p,
  ol,
  ul {
    &:not(:last-child) {
      margin-bottom: $spacer;
    }
  }

  h2, .h2,
  h3, .h3,
  h4, .h4 {
    &:not(:first-child) {
      margin-top: ($spacer * 2);
    }
  }

  blockquote {
    background-color: $blockquote-bg-color;
    border-left: $blockquote-border-width solid $blockquote-border-color;
    font-size: $blockquote-font-size;
    padding: 1.5rem;

    footer {
      color: $blockquote-small-color;
      font-size: $blockquote-small-font-size;

      &::before {
        content: "\2014 \00A0"; // em dash, nbspreb
      }

      a {
        color: $blockquote-small-color;

        @include hover-focus {
          color: $link-hover-color;
          border-bottom-color: $link-hover-border-color;
        }
      }
    }
  }

  ol {
    list-style: decimal outside;
    margin-left: ($spacer * 2);
    margin-right: ($spacer * 2);
    margin-top: $spacer;
  }

  ul {
    list-style: disc outside;
    margin-left: ($spacer * 2);
    margin-right: ($spacer * 2);
    margin-top: $spacer;

    ul {
      list-style-type: circle;
      margin-top: ($spacer / 2);
      margin-bottom: ($spacer / 2);
    }
  }
}



.DnnModule__title {
  margin-top: 0;
}



.DnnModule__content {}


