// ============================================================================
//
//  [Table of Contents]
//
//  - Wrapper and base class
//  - Navbar brand
//  - Navbar text
//  - Responsive navbar
//  - Admin menu
//
// ============================================================================




//
// Wrapper and base class
// ======================

.navbar {}




//
// Navbar brand
// ============
//
// Used for brand, project, or site name.
// ----------------------------------------------------------------------------

.navbar-brand {}




//
// Navbar nav
// ==========
//
// Custom navbar navigation. Doesn't require `.nav`, but does use `.nav-link`.
// ----------------------------------------------------------------------------

.navbar-nav {

  .nav-link {}
}




//
// Navbar text
// ===========
//
// Navbars may contain bits of text. This class adjust alignment and spacing.
// ----------------------------------------------------------------------------

// .navbar-text {}




//
// Responsive navbar
// =================
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.
//
// 1. Button for toggling the navbar when in its collapsed state.
//
// 2. This element is separated so we can easily override it with another icon
//    or image file as needed.
// ----------------------------------------------------------------------------

// .navbar-toggler {} // 1

// .navbar-toggler-icon {} // 2




//
// Admin menu
// ==========
//
// Used to add a Manage menu to the navbar independent of the primary nav.
// ----------------------------------------------------------------------------

#admin-menu {
  .nav-link {
    background-color: $link-color;
    color: $white;

    @include hover-focus {
      background-color: $link-hover-color;
    }
  }
}
