// ============================================================================
//
//  Standardize base HTML elements
//
//  [Table of Contents]
//
//  - Body
//  - Inline
//  - Block
//
// ============================================================================




//
// Body
// ====

body {

  //
  // [if DNN = v9]
  //
  // Reposition to avoid screwy animation when Persona Bar slides on screen
  &.hasDnnPersonaBar {
    margin-left: $dnn-persona-bar-width;
  }
}




//
// Inline
// ======

a {

  @include plain-visited {
    color: $link-color;
    transition: all $transition-speed $transition-easing;
  }

  @include hover-focus {
    color: $link-hover-color;
  }

  &:focus {
    outline: $link-focus-outline-width $link-focus-outline-style $link-focus-outline-color;
  }

  &.is-inverse {
    color: $link-inverse-color;

    @include hover-focus {
      color: $link-inverse-hover-color;
    }
  }
}




//
// Block
// =====

blockquote,
p,
ol,
ul {
  margin-bottom: 0;
}
