//
// Inline
// ======

a {

  &,
  &:visited {
    color: $link-color;
    transition: all $speed $easing;
  }

  @include hover-focus {
    color: $link-hover-color;
  }
}



//
// Block
// =====

blockquote,
p,
ol,
ul {
  margin-bottom: 0;
}