// ============================================================================
//
//  [Table of Contents]
//
//  1. Body
//  2. Inline
//  3. Block
//
// ============================================================================




//
// Body
// ====

body {

  //
  // [if DNN = v9]
  //
  // Reposition to avoid screwy animation when Persona Bar slides on screen
  &.hasDnnPersonaBar {
    margin-left: $dnn-persona-bar-width;
  }
}




//
// Inline
// ======

a {

  @include plain-visited {
    color: $link-color;
    transition: all $speed $easing;
  }

  @include hover-focus {
    color: $link-hover-color;
  }

  &.is-inverse {
    color: $white;

    @include hover-focus {
      color: rgba($white, 0.5);
    }
  }
}




//
// Block
// =====

blockquote,
p,
ol,
ul {
  margin-bottom: 0;
}
