// ============================================================================
//
//  Styles used for documentation pages (e.g., Help, How-To, Reminders)
//
//  [Table of Contents]
//
//  - Mandatory imports
//  - Variables
//  - General
//  - Button
//  - Callout
//  - Menu
//  - Modal
//
//  --
//
//  Dev notes
//
//  - Accuraty and Bootstrap variables are included for easy reuse. Doing so
//    gives us access to the same utilities used throughout this project.
//
//  - Accuraty's **docs variables** are prefixed with `$docs-`. These custom
//    variables avoid conflict with the standard components used elsewhere.
//
//  - Classes are prefixed with `.docs-`. These classes indicate custom-built
//    or modified components used exclusively on these documentation pages.
//
// ============================================================================




//
// Mandatory imports
// =================
//
// 1. Core Bootstrap functions.
// 2. Custom variables/mixins.
// 3. Default Bootstrap variables.
// ----------------------------------------------------------------------------

@import '../../../node_modules/bootstrap/scss/functions';  // 1
@import '../../../node_modules/bootstrap/scss/mixins';     // 1
@import 'abstracts/variables';          // 2
@import 'abstracts/mixins';             // 2
@import '../../../node_modules/bootstrap/scss/variables';  // 3




//
// Variables
// =========

$docs-primary:        #0767b1; // Accuraty blue

$docs-danger:         #d4231d;
$docs-info:           #09addf;
$docs-success:        #008b2f;
$docs-warning:        #fa9602;




//
// General
// =======

a {

  .pane-content & {

    @include plain-visited {
      color: $docs-primary;
    }

    @include hover-focus {
      color: darken($docs-primary, 16%);
    }

    &:not(.btn) {
      border-bottom-color: lighten($docs-primary, 47.5%);

      @include hover-focus-active {
        border-bottom-color: transparent;
      }
    }
  }
}




//
// Button
// ======

.docs-btn,
.btn-primary {
  background-color: transparent !important;
  border-color: $docs-primary !important;
  color: $docs-primary !important;

  @include hover-focus {
    background-color: $docs-primary !important;
    border-color: $docs-primary !important;
    color: $white !important;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 2px rgba($docs-primary, .25);
  }
}




//
// Callout
// =======
//
// Similar to alerts, but designed to call attention to key information with
// out being as visually disruptive as an alert.
//
// 1. Use `em` so the font size is relative to the size set in the parent.
// ----------------------------------------------------------------------------

.docs-callout {
  background-color: $gray-100;
  border: $border-width solid $gray-200;
  border-left-width: .25rem;
  border-radius: .25rem;
  font-size: .875em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1.25em;

  h4 {
    font-size: 1.125em; // 1
    margin-top: 0;
  }

  p,
  ul,
  ol {
    font-size: 1em; // 1
  }

  code {
    border-radius: .25rem;
  }

  & + & {
    margin-top: -.25rem;
  }
}

// Variations
@mixin docs-callout-variant($color) {
  border-left-color: $color;

  h4 { color: $color; }
}

.docs-callout-danger { @include docs-callout-variant($docs-danger); }
.docs-callout-info { @include docs-callout-variant($docs-info); }
.docs-callout-success { @include docs-callout-variant($docs-success); }
.docs-callout-warning { @include docs-callout-variant($docs-warning); }




//
// Menu
// ====
//
// Used as the table of contents menu in the sidebar.
// ----------------------------------------------------------------------------

.docs-menu {
  flex-direction: column;
  font-size: $font-size-sm;
  min-width: 160px;

  .docs-menu-label {
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    padding: $nav-link-padding-y $nav-link-padding-x;
  }

  .nav-link {
    border-radius: .25rem;
    color: #666;
    transition: all $transition-speed $transition-easing;

    @include hover-focus {
      color: $docs-primary;
    }

    &.active {
      background-color: rgba(theme-color("dark"), .06);
      color: $docs-primary;
      font-weight: $font-weight-medium;
    }
  }
}



//
// Modal
// =====

.docs-modal {

  @include media-breakpoint-up(md) {
    max-width: 640px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 800px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 960px;
  }

  img {
    width: 100%;

    + p {
      margin-top: 1rem;
    }
  }
}
