.eds_news_ASL01.eds_subCollection_news .EDN__article__subtitle {
  margin-top: -0.5rem !important; }

.eds_news_ASL01.eds_subCollection_news .EDN__article__meta {
  display: flex;
  font-size: 0.875rem; }
  .eds_news_ASL01.eds_subCollection_news .EDN__article__meta > span + span::before {
    content: '|';
    color: #6c757d;
    margin: 0 0.5rem; }

.eds_news_ASL01.eds_subCollection_news .user_dashboard {
  background-color: #e9ecef;
  border: 1px solid #dee2e6;
  padding: 0 0.5rem;
  margin: 0 0 1rem;
  overflow: hidden;
  border-radius: 0; }
  .eds_news_ASL01.eds_subCollection_news .user_dashboard a {
    background: transparent url("") no-repeat left center;
    display: block;
    float: left;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.5rem 0.75rem; }
    .eds_news_ASL01.eds_subCollection_news .user_dashboard a, .eds_news_ASL01.eds_subCollection_news .user_dashboard a:visited {
      color: #212529; }
    .eds_news_ASL01.eds_subCollection_news .user_dashboard a.add_article {
      background-image: url("images/common/user_dashboard/green_plus.png");
      padding-left: 25px; }
    .eds_news_ASL01.eds_subCollection_news .user_dashboard a.approve_articles {
      background-image: url("images/common/user_dashboard/approve_articles.png");
      padding-left: 22px; }
    .eds_news_ASL01.eds_subCollection_news .user_dashboard a.approve_comments {
      background-image: url("images/common/user_dashboard/approve_comments.png");
      padding-left: 22px; }
    .eds_news_ASL01.eds_subCollection_news .user_dashboard a.article_manager {
      background-image: url("images/common/user_dashboard/papers.png");
      padding-left: 28px; }
    .eds_news_ASL01.eds_subCollection_news .user_dashboard a.author_profile {
      display: none; }
    .eds_news_ASL01.eds_subCollection_news .user_dashboard a.category_manager {
      background-image: url("images/common/user_dashboard/categories.png");
      padding-left: 24px; }
    .eds_news_ASL01.eds_subCollection_news .user_dashboard a.dashboard {
      background-image: url("images/common/user_dashboard/monitor.png");
      padding-left: 25px; }
    .eds_news_ASL01.eds_subCollection_news .user_dashboard a.event_manager {
      background-image: url("images/common/user_dashboard/event_manager.png");
      padding-left: 35px; }
    .eds_news_ASL01.eds_subCollection_news .user_dashboard a.settings {
      background-image: url("images/common/user_dashboard/settings.png");
      padding-left: 25px; }
    .eds_news_ASL01.eds_subCollection_news .user_dashboard a:hover, .eds_news_ASL01.eds_subCollection_news .user_dashboard a:focus {
      color: #007bff; }
