// ============================================================================
//
//  [Table of Contents]
//
//  - Wrapper and base class
//  - Module title
//  - Module content
//
// ============================================================================




//
// Wrapper and base class
// ======================

.DnnModule {
  position: relative;
  clear: both;
  color: $body-color;
}




//
// Module title
// ============
//
// 1. Yes, `!important` is generally a bad idea, but we want to override the
//    style applied to headings inside the base `.DnnModule` class for this
//    specific class. This is helpful because modules can use various heading
//    tags as a title, not just `<h2>` tags, so we need to account for this.
// ----------------------------------------------------------------------------

.DnnModule__title {
  margin-top: 0 !important; // 1
}




//
// Module content
// ==============

.DnnModule__content {}
