<link href='@(AccuKit.SkinCssPath + "/AccuDocs.css")' rel="stylesheet">


<div class="docs rich-text">
  <h2>Heading 2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <a href="#">labore et dolore magna aliqua</a> enim ad minim veniam sed do eiusmod tempor incididunt ut quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <p>Irure tempor est laborum ex deserunt velit, <em>minima sapiente laborum ad anim qui</em>, minim amet officia proident. Dolore eu ea commodo nisi nulla adipisicing do sint. <strong>Tempore soluta corporis fuga esse atque ratione!</strong> Rerum debitis iure, facere id non magni.</p>

  <h3>Heading 3</h3>

  <p>Duis aute irure adipisicing elit, sed do eiusmod magna aliqua:</p>

  <ul>
    <li>Aliquam modi quo<sup>*</sup></li>
    <li>
      Praesentium perferendis
      <ul>
        <li>Aliquip ex do nostrud itaque rerum non</li>
        <li>Corporis ducimus ullamco fuga facere ab molestiae</li>
      </ul>
    </li>
    <li>Itaque vitae esse nisi</li>
  </ul>

  <p><small><sup>*</sup> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alor id est laborum.</small></p>

  <h3>Heading 3</h3>

  <h4>Heading 4</h4>

  <p>Cumque beatae, ab cupiditate. Aliquam modi quos, doloremque, quam molestiae eum nesciunt minus autem, fugiat maiores ducimus pariatur?</p>

  <ol>
    <li>Cillum cillum enim ut aliquip.</li>
    <li>Pariatur ullamco aliqua qui ullamco.</li>
    <li>Esse minim pariatur amet sit id.</li>
  </ol>

  <h4>Heading 4</h4>

  <p>Voluptates repudiandae minima et sunt. Fuga laborum itaque architecto, debitis, vitae accusantium. Laborum lorem aliqua dolor consectetur. Esse dolore dolore cupidatat et aliqua irure.</p>

  <h5>Heading 5</h5>

  <p>Quisquam corporis eius atque magnam eiusmod sit.</p>

  <h5>Heading 5</h5>

  <p>Deserunt ipsum eiusmod occaecat voluptate eu.</p>

  <h3>Heading 3</h3>

  <p>Porro odit voluptatibus quibusdam mollitia, consectetur, labore ab placeat aperiam at facilis sint itaque minus, ratione, expedita animi.</p>

  <blockquote class="blockquote">
    <p>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

    <footer class="blockquote-footer">Lorem ipsum dolor</footer>
  </blockquote>

  <p>Ut enim ad minim veniam proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Reprehenderit excepteur minim aute adipisicing nisi ad aliqua ea sint aute adipisicing.</p>
</div>
