// ============================================================================
//
//  Utility styles for Accuraty-specific resources.
//
//  All classes are prefixed with `asl--` for readibility and consistency.
//
//  [Table of Contents]
//
//  - Admin only
//  - Admin only, but only visible in edit state
//
// ============================================================================




//
// Admin only
// ==========
//
// Only show the element when a site admin (or manager) is logged in,
// hence the classes for the DNN Control Bar or Persona Bar being in use.
// ----------------------------------------------------------------------------

.asl__admin {
  display: none !important;

  .personabar-visible & {
    display: block !important;
  }
}




//
// Admin only, but only visible in edit state
// ==========================================

.asl__admin--edit-state {
  display: none !important;

  .dnnEditState & {
    display: block !important;
  }
}
