// ============================================================================
//
//  Separate stylesheet for the `LazyLoadYouTube.ascx` container.
//
//  This compiles to `/Containers/Accuraty/LazyLoadYouTube.css`.
//
//  --
//
//  [Table of Contents]
//
//  - Mandatory imports
//  - Wrapper and base class
//  - Embedded iframe
//  - Thumbnail image
//  - Play button
//
// ============================================================================




//
// Mandatory imports
// =================
//
// 1. Core Bootstrap functions.
// 2. Custom variables/mixins.
// 3. Default Bootstrap variables.
// ----------------------------------------------------------------------------

@import "../../../../node_modules/bootstrap/scss/functions"; // 1
@import "../../../../node_modules/bootstrap/scss/mixins"; // 1
@import "../../_abstracts/variables"; // 2
@import "../../_abstracts/mixins"; // 2
@import "../../../../node_modules/bootstrap/scss/variables"; // 3




//
// Wrapper and base class
// ======================

.lazy-yt {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
	overflow: hidden;
	background-color: $black;
  cursor: pointer;

  &::before {
    padding-top: 56.25%; // 16x9 aspect ratio
    display: block;
    content: "";
  }
}




//
// Embedded iframe
// ===============

.lazy-yt-item {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}




//
// Thumbnail image
// ==============

.lazy-yt-thumbnail {
  position: absolute;
	  top: -16.82%;
  width: 100%;
  cursor: pointer;
}




//
// Play button
// ===========

.lazy-yt-btn {
  position: absolute;
    top: 50%;
    left: 50%;
  width: 4em;
	height: 3em;
	font-size: 1.25rem;
	background-color: $black;
	border-radius: 50% / 10%;
	z-index: 1;
	opacity: .8;
	text-align: center;
	text-indent: .1em;
  transition-property: background-color, opacity;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  transform: translate3d( -50%, -50%, 0);
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: $youtube-primary;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    top: 9%;
    right: -5%;
    bottom: 9%;
    left: -5%;
    background-color: inherit;
    border-radius: 5% / 50%;
  }

  &::after {
    top: 50%;
    width: 0;
    height: 0;
    margin: -1em 0 0 -0.75em;
    font-size: 0.75em;
    border-style: solid;
    border-width: 1em 0 1em 1.732em;
    border-color: transparent transparent transparent $white;
  }
}
