// ============================================================================
//
//  Separate stylesheet for the `PageNotes.ascx` container.
//
//  This compiles to `/Containers/Accuraty/PageNotes.csss`.
//
// ============================================================================




//
// Mandatory imports
// =================
//
// 1. Core Bootstrap abstracts.
// 2. Custom abstracts.
// ----------------------------------------------------------------------------

@import "../../../../node_modules/bootstrap/scss/functions"; // 1
@import "../../../../node_modules/bootstrap/scss/mixins"; // 1
@import "../../../../node_modules/bootstrap/scss/variables"; // 1
@import "../../_abstracts/functions"; // 2
@import "../../_abstracts/mixins"; // 2
@import "../../_abstracts/variables"; // 2




//
// Wrapper and base class
// ======================

.asl__notes {
  position: relative;
  margin: 1rem 0;
}




.asl__notes__label {
  margin-bottom: 1rem;
  font-size: 1.075rem;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  letter-spacing: .5px;
}




.asl__notes__title {
  font-size: 1.25rem;
  font-weight: $font-weight-bold;
}
