// ============================================================================
//
//  HEADS UP!
//
//  This partial uses Flickity as the carousel instead of Boostrap's component,
//  so the classes and styles are independent from what you'll see in the
//  `_carousel.scss` partial. The one exception is the base class: `.carousel`.
//
//  If you are going to use Flickity, it should replace Bootstrap's carousel,
//  so be sure to update the `@import` statement in `Skin.scss`.
//
//  Library: Flickity
//  Version: 2.1.2
//  Author: Metafizzy
//  Author URI: https://flickity.metafizzy.co
//
//  This stylesheet was updated on 10/23/2018 by Chris Lusk
//
//  --
//
//  [Table of Contents]
//
//  - Wrapper and base class
//  - Flickity-specific
//     - Controls
//     - Indicators
//  - Carousel cell
//
// ============================================================================




//
// Wrapper and base class
// ======================

.carousel {}




//
// Flickity-specific styles
// ========================
//
// These classes and the markup are only added when Flickity is initialized.
//   * Controls (http://flickity.metafizzy.co/style.html#previous-next-buttons)
//   * Indicators (http://flickity.metafizzy.co/style.html#page-dots)
// ----------------------------------------------------------------------------

// Controls

.flickity-button {
  color: $body-color;
  background-color: rgba($white, .75);
  transition: background $transition-speed $transition-easing;

  @include hover-focus {
    background-color: $white;
  }
}

.flickity-button-icon {
  fill: $body-color;
}

.flickity-prev-next-button {

  &.previous {
    left: 0;
  }

  &.next {
    right: 0;
  }
}

// Indicators

.flickity-page-dots {
  bottom: -1.25rem;

  .dot {
    width: .75rem;
    height: .75rem;
    margin: 0 .5rem;
    background-color: $body-color;

    &.is-selected {}
  }
}




//
// Carousel cell
// =============

.carousel-cell {
  width: 100%;
  height: auto;
}
