{
  "host": "___HOST_NAME___",
  "username": "___USER_NAME___",
  "password": "___PASSWORD___",
  "name": "AccuTheme",
  "context": "./app",
  "protocol": "ftp",
  "port": 21,
  "secure": true,
  "secureOptions": {
    "rejectUnauthorized": false
  },
  "passive": false,
  "uploadOnSave": true,
  "syncOption": {
    "update": true,
    "delete": true
  },
  "watcher": {
    "files": "**/AccuTheme/**/*",
    "autoUpload": true,
    "autoDelete": true
  },
  "ignore": [
    "**/.git/",
    "**/.vscode/",
    "**/gulpfile.js/",
    "**/node_modules/",
    "**/src/",
    "**/README.md",
    "**/*.LICENSE.txt",
    ".*",
    "package.json",
    "package-lock.json",
    "real-favicon-generator.json",
    "webpack.config.js",
    "Thumbs.db",
    ".DS_Store"
  ],
  "remotePath": "/",
  "remoteExplorer": {
    "filesExclude": [
      "/.well-known",
      "/admin",
      "/App_Browsers",
      "/App_Code/ModuleCreator",
      "/App_Data",
      "/App_GlobalResources",
      "/aspnet_client",
      "/bin",
      "/Components",
      "/Config",
      "/controls",
      "/DesktopModules/Admin",
      "/DesktopModules/AuthenticationServices",
      "/DesktopModules/CoreMessaging",
      "/DesktopModules/CustomProperty",
      "/DesktopModules/DevicePreviewManagement",
      "/DesktopModules/DigitalAssets",
      "/DesktopModules/EasyDNNNews?*",
      "/DesktopModules/Events*Calendar*",
      "/DesktopModules/Feedback",
      "/DesktopModules/ForgottenUser",
      "/DesktopModules/HyperSettings",
      "/DesktopModules/Journal",
      "/DesktopModules/MemberDirectory",
      "/DesktopModules/MobileManagement",
      "/DesktopModules/ModuleCreator",
      "/DesktopModules/SocialGroups",
      "/DesktopModules/UserDefinedTable",
      "/DesktopModules/XModPro?*",
      "/Documentation",
      "/Icons",
      "/images",
      "/imagecache",
      "/Install",
      "/js",
      "/Licenses",
      "/obj",
      "/Portals/*/Cache",
      "/Portals/*/Users",
      "/Portals/*/Images",
      "/Portals/_default/EventQueue",
      "/Portals/_default/Logs",
      "/Portals/_default/MergedTemplate",
      "/Portals/_default/Smileys",
      "/Providers",
      "/Resources",
      "/DNN.ico",
      "/Default.aspx*",
      "/DotNetNuke.ico",
      "/KeepAlive.aspx*",
      "/ErrorPage.aspx*",
      "/DNN.ico",
      "/403-3.gif",
      "*.map",
      "Thumbs.db",
      "*DS_Store",
      "*.template.*.resx",
      "*.template.resources",
      "end-of-this-list"
    ]
  }
}
