$DASHBOARD_IMAGES: "assets/images/common/user_dashboard";

.user_dashboard {
  padding: 0 .5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: $gray-200;
  border: 1px solid $gray-300;
  border-radius: 0;

  a {
    display: block;
    float: left;
    padding: .5rem .75rem;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    background: transparent url("") no-repeat left center;

    @include plain-visited {
      color: $body-color;
    }

    &.add_article {
      padding-left: 25px;
      background-image: url("#{$DASHBOARD_IMAGES}/green_plus.png");
    }

    &.approve_articles {
      padding-left: 22px;
      background-image: url("#{$DASHBOARD_IMAGES}/approve_articles.png");
    }

    &.approve_comments {
      padding-left: 22px;
      background-image: url("#{$DASHBOARD_IMAGES}/approve_comments.png");
    }

    &.article_manager {
      padding-left: 28px;
      background-image: url("#{$DASHBOARD_IMAGES}/papers.png");
    }

    &.author_profile {
      display: none;
    }

    &.category_manager {
      padding-left: 24px;
      background-image: url("#{$DASHBOARD_IMAGES}/categories.png");
    }

    &.dashboard {
      padding-left: 25px;
      background-image: url("#{$DASHBOARD_IMAGES}/monitor.png");
    }

    &.event_manager {
      padding-left: 35px;
      background-image: url("#{$DASHBOARD_IMAGES}/event_manager.png");
    }

    &.settings {
      padding-left: 25px;
      background-image: url("#{$DASHBOARD_IMAGES}/settings.png");
    }

    @include hover-focus {
      color: $link-color;
    }
  }
}
