// ============================================================================
//
//  [Table of Contents]
//
//  - Base styles
//  - Image
//  - Video
//  - Caption
//
// ============================================================================




//
// Base styles
// ===========

.EDN__media {}




//
// Image
// =====

.EDN__media img {
  width: 100%;
}

.EDN__media__bgCoverImage {
  display: block;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration;
  transition-property: opacity;

  @include hover-focus() {
    opacity: .75;
  }
}




//
// Video
// =====

.EDN__media video {}




//
// Caption
// =======

.EDN__media figcaption {
  font-size: $font-size-sm;
}
