/* stylelint-disable no-duplicate-selectors */

// ============================================================================
//
//  [Table of Contents]
//
//  - Base styles
//  - Typography
//  - Sections
//     - Header
//     - Body
//     - Aside
//     - Footer
//  - Media
//  - Meta
//
// ============================================================================

$edn--figure-width: 150px;




//
// Base styles
// ===========
//
// Modifications and rules for elements inside an article in list view.
//
// 1. The article modifier must wrap around all other styles.
// ----------------------------------------------------------------------------

.EDN__article.is-list { // 1
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 4rem;
  }

  &:last-child {
    margin-bottom: 0;
  }




//
// Typography
// ==========
//
// ADD A DESCRIPTION...
// ----------------------------------------------------------------------------

.EDN__article__title {
  margin-bottom: 0;
  font-size: 1.25rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.375rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.5rem;
  }
}

.EDN__article__subtitle {}

.EDN__article__summary {
  margin-top: .25rem;
  font-size: 1rem;
}




//
// Sections
// ========
//
// ADD A DESCRIPTION...
// ----------------------------------------------------------------------------

.EDN__article__header {

  @include media-breakpoint-up(md) {
    flex: 1 1 auto;
    padding-right: 1rem;
  }

  &.has-no-media {
    margin-right: $edn--figure-width;
  }
}

.EDN__article__body {}

.EDN__article__aside {}

.EDN__article__footer {}




//
// Media
// =====

.EDN__media {

  @include media-breakpoint-up(md) {
    flex: 0 0 auto;
    width: $edn--figure-width;
  }
}

figure.EDN__media {
  margin-bottom: 0;
}




//
// Meta
// ====
//
// ADD A DESCRIPTION...
// ----------------------------------------------------------------------------

.EDN__meta {
  margin-top: 1rem;
}




} // Important! This must remain at the very end of the file.
