// ============================================================================
//
//  [Table of Contents]
//
//  - Wrapper and base class
//  - Dropdown toggle
//  - Dropdown menu
//  - Dropdown item
//
// ============================================================================




//
// Wrapper and base class
// ======================

// .dropdown {}




//
// Dropdown toggle
// ===============

.dropdown-toggle {

  // Nested dropdown
  .dropdown-menu & {
    @include caret(right);

    &::after {
      margin-left: .325em;
      vertical-align: 0;
    }
  }
}




//
// Dropdown menu
// =============

.dropdown-menu {

  // Nested dropdown
  .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -.55rem;
    margin-left: -.5rem;
  }
}




//
// Dropdown item
// =============

.dropdown-item {

  @include plain-visited {
    color: $dropdown-link-color;
  }

  @include hover-focus {
    color: $dropdown-link-hover-color;
  }

  &.active,
  &:active {
    color: $dropdown-link-active-color;
  }

  // Nested dropdown
  .dropdown.show > & {
    background-color: $dropdown-link-hover-bg;

    &.active,
    &:active {
      background-color: $dropdown-link-active-bg;
    }
  }
}
