// ============================================================================
//
//  [Table of Contents]
//
//  - Base styles and wrapper
//  - Label
//  - List
//  - Item
//  - Link
//
// ============================================================================




//
// Base styles and wrapper
// =======================

.menu {}




//
// Label
// =====

.menu__label {
  font-size: .875em;
  color: $gray-500;
  text-transform: uppercase;
  letter-spacing: .1em;

  &:not(:first-child) {
    margin-top: 1em;
  }

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}




//
// List
// ===

.menu__list {
  line-height: 1.25;
}




//
// Item
// ====

.menu__item {

  &.active {

    .badge {
      background-color: darken($primary, 10%) !important;
    }
  }

  ul {
    padding-left: .75em;
    margin: .75em;
    border-left: 1px solid $border-color;
  }
}




//
// Link
// ====

.menu__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em .75em;
  font-weight: $font-weight-medium;
  color: $gray-700;
  @include border-radius($border-radius-sm);

  @include hover-focus {
    color: $link-color;
  }
}

.menu__item.active > .menu__link {
  color: $component-active-color;
  background-color: $component-active-bg;
}
