// ============================================================================
//
//  [Table of Contents]
//
//  1. Wrapper and base class
//  2. Content pane
//  3. Aside pane
//
// ============================================================================




//
// Wrapper and base class
// ======================

.pane {}




//
// Content pane
// ============

.pane-content {}




//
// Aside pane
// ==========

.pane-aside {}
