// ============================================================================
//
//  [Table of Contents]
//
//  - Wrapper and base class
//  - Intro
//
// ============================================================================




//
// Wrapper and base class
// ======================
//
// 1. Increase the size of text.
//
// 2. These elements have no bottom margin (per `_base.scss`), but they need
//    spacing in the flow of content. So add top margin to direct children
//    using the sibling selector. This establishes a default spacing for rich
//    text content. You can override this with more specific rules afterward.
//
// 3. Add extra top margin to headings as long as they aren't the first child.
//
// 4. But when headings are next to each other, we don't want excess space. So
//    reset the top margin to the default spacing for `<h3>` and `<h4>` tags.
//
// 5. List items are too close together compared to all other body text
//    elements, so add a little margin between siblings.
//
// 6. Add custom bottom border to links to replace standard `text-decoration`
//    for better styling and control.
//
// 7. On `:active` state, add a slight background color so there is sufficient
//    variation for each link state. This is based on accessibility standards,
//    which state there needs to be clear changes beyond just a color change.
// ----------------------------------------------------------------------------

.rich-text {
  font-size: 1.08rem; // 1

  @include media-breakpoint-up(lg) {
    font-size: 1.125rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.175rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 1.225rem;
  }

  p,
  ol,
  ul,
  blockquote {
    & + * {
      margin-top: $paragraph-margin-bottom; // 2
    }
  }

  h2,
  h3,
  h4 {
    margin-top: ($spacer * 2); // 3

    &:first-child {
      margin-top: 0; // 3
    }
  }

  h2 + h3,
  h3 + h4 {
    margin-top: 0; // 4
  }

  blockquote {
    padding: 1.5rem;
    font-size: $blockquote-font-size;
    background-color: $blockquote-bg-color;
    border-left: $blockquote-border-width solid $blockquote-border-color;

    footer {
      font-size: $blockquote-small-font-size;
      color: $blockquote-small-color;

      &::before {
        content: "\2014 \00A0"; // em dash, nbspreb
      }

      a {

        @include plain-visited() {
          color: $blockquote-small-color;
        }

        @include hover-focus() {
          color: $link-hover-color;
          border-bottom-color: $link-hover-border-color;
        }
      }
    }
  }

  ol {
    margin-right: ($paragraph-margin-bottom * 2);
    margin-left: ($paragraph-margin-bottom * 2);
    list-style-position: outside;
    list-style-type: decimal;
  }

  ul:not(.nav):not(.list-unstyled):not(.pagination) {
    margin-right: ($paragraph-margin-bottom * 2);
    margin-left: ($paragraph-margin-bottom * 2);
    list-style-position: outside;
    list-style-type: disc;

    ul {
      margin-top: ($paragraph-margin-bottom / 2);
      margin-bottom: ($paragraph-margin-bottom / 2);
      list-style-type: circle;
    }
  }

  ul:not(.list-group):not(.nav):not(.pagination),
  ol:not(.list-group) {

    li + li {
      margin-top: ($paragraph-margin-bottom / 2); // 5
    }
  }

  a:not(.alert-link):not(.btn):not(.badge):not(.dropdown-item):not(.page-link) {
    font-weight: $font-weight-bold;
    border-bottom: $link-border-width solid $link-border-color; // 6

    @include hover-focus() {
      background-color: $link-hover-bg;
      border-bottom-color: $link-hover-border-color;
    }

    &:active {
      color: $link-active-color;
      background-color: $link-active-bg; // 7
      border-bottom-color: $link-active-border-color;
    }
  }
}




//
// Intro
// =====

.rich-text--intro {}
