// ============================================================================
//
//   Variables
//
//   Updated: 10/19/2017 by Chris Lusk
//
//   For convenience, you can search for a section by preceeding the title
//   with a pound sign and a space. Example: `# Colors`
//
//   --
//
//   [Table of Contents]
//
//   i. Mandatory imports
//      - Bootstrap functions
//
//   1. Initial variables
//      - Colors
//      - Typography
//      - Borders
//      - Miscellaneous
//
//   2. Applied variables
//      - Color system
//      - Options
//      - Spacing
//      - Body
//      - Links
//      - Grid breakpoints
//      - Grid containers
//      - Grid columns
//      - Fonts
//      - Components
//      - Tables
//      - Buttons
//      - Forms
//      - Dropdowns
//      - Z-index master list
//      - Navs
//      - Navbar
//      - Pagination
//      - Jumbotron
//      - Cards
//      - Tooltips
//      - Popovers
//      - Badges
//      - Modals
//      - Alerts
//      - Progress bars
//      - List group
//      - Image thumbnails
//      - Figures
//      - Breadcrumbs
//      - Carousel
//      - Close
//      - Code
//
// ============================================================================










// # Bootstrap functions
// =====================
//
// Required utility mixins and functions for evaluating source code.
// Not included in Bootstrap's `_variables.scss` but is its own separate
// partial (`_functions`) file that is imported first in `bootstrap.scss`.
//
// Importing that partial file here so we can use the exact same variables.
// ----------------------------------------------------------------------------

@import 'vendors/bootstrap/functions';










// ----------------------------------------------------------------------------
//
//  1. Initial variables
//
//  These are base variables defined with a direct value. In general, variable
//  format should follow the `$component-state-property-size` formula for
//  consistent naming (e.g., `$card-hover-bg` or `$modal-border-radius-xl`).
//
//  Note: These variables generally should not be used in your stylesheets.
//
// ----------------------------------------------------------------------------




//
// # Colors
// ========
//
// Grayscale, base colors, theme colors, and third-party brand colors.
// ----------------------------------------------------------------------------

$asl--white:      #fff;
$asl--gray-100:   #f8f9fa;
$asl--gray-200:   #e9ecef;
$asl--gray-300:   #dee2e6;
$asl--gray-400:   #ced4da;
$asl--gray-500:   #adb5bd;
$asl--gray-600:   #868e96;
$asl--gray-700:   #495057;
$asl--gray-800:   #343a40;
$asl--gray-900:   #212529;
$asl--black:      #000;

$asl--blue:       #007bff;
$asl--indigo:     #6610f2;
$asl--purple:     #6f42c1;
$asl--pink:       #e83e8c;
$asl--red:        #dc3545;
$asl--orange:     #fd7e14;
$asl--yellow:     #ffc107;
$asl--green:      #28a745;
$asl--teal:       #20c997;
$asl--cyan:       #17a2b8;

//## Third-party brand colors
//## Resource: http://brandcolors.net
$facebook-primary:    #3b5998;
$google-plus-primary: #dd4b39;
$instagram-primary:   #405de6;
$linkedin-primary:    #0077b5;
$mailchimp-primary:   #2c9ab7;
$pinterest-primary:   #bd081c;
$snapchat-primary:    #fffc00;
$twitter-primary:     #1da1f2;
$youtube-primary:     #cd201f;




//
// # Typography
// ============
//
// Font, sizes, weights, line heights for body text, headings, and more.
//
// Size variable names use the same number system as HTML heading tags for
// easy recognition (e.g., `<h1>` is largest and `$asl--size-1` is too).
// ----------------------------------------------------------------------------

$asl--font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue",  Arial, sans-serif;
$asl--font-family-serif:
  Georgia, "Times New Roman", Times, serif;
$asl--font-family-monospace:
  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

//## The px values shown below are based on a 16px root
$asl--size-1:       2.5rem;   // 40px
$asl--size-2:       2rem;     // 32px
$asl--size-3:       1.75rem;  // 28px
$asl--size-4:       1.5rem;   // 24px
$asl--size-5:       1.25rem;  // 20px
$asl--size-6:       1rem;     // 16px -- Warning! It's best not to change this.
$asl--size-7:       0.875rem; // 14px
$asl--size-8:       0.75rem;  // 12px

$asl--size-xl-1:    6rem;     // 96px
$asl--size-xl-2:    5.5rem;   // 88px
$asl--size-xl-3:    4.5rem;   // 72px
$asl--size-xl-4:    3.5rem;   // 56px

$asl--font-weight-light:        300;
$asl--font-weight-normal:       400;
$asl--font-weight-medium:       500;
$asl--font-weight-bold:         700;
$asl--font-weight-black:        900;

$asl--line-height-tightest:     1.1;
$asl--line-height-tight:        (4 / 3);
$asl--line-height-normal:       1.5;




//
// # Borders
// =========
//
// Custom variables for more variation over various elements.
// ----------------------------------------------------------------------------

$asl--border-width-normal:  1px;
$asl--border-width-thick:   3px;

$asl--border-radius:        0.25rem;
$asl--border-radius-lg:     0.3rem;
$asl--border-radius-sm:     0.2rem;




//
// # Miscellaneous
// ===============
//
// Transition properities, shadows, columns, DNN components, etc.
// ----------------------------------------------------------------------------

$asl--easing: ease-out;
$asl--speed: 86ms;
$asl--box-shadow:       0 2px 4px rgba($asl--black, 0.1);
$asl--box-shadow-hover: 0 12px 28px -2px rgba($asl--black, 0.21),
                        0 6px 14px -1px rgba($asl--black, 0.14);

//## Used for Bootstrap's `$grid-columns` variable
$asl--grid-columns: 12;

//## Used for Bootstrap's `$grid-gutter-width` variable
$asl--grid-gutter-width: 30px;

//## `Control Bar` is what's used in DNN 8 and below
$dnn-control-bar-height: 53px;

//## Persona Bar is what's used in DNN 9
$dnn-persona-bar-width: 80px;










// ----------------------------------------------------------------------------
//
//  2. Applied variables
//
//  Assigned with the values set in the first section.
//
//  This is also where we override Bootstrap variables. Commented-out variables
//  don't depend on the variables defined in the first section and contain the
//  default values from Bootstrap. To override these, uncomment and modify.
//
//  Note: These variables are also used in your custom stylesheets.
//
// ----------------------------------------------------------------------------




//
// # Color system
// ==============
//
// Reference: vendors/bootstrap/_variables.scss:48
// ----------------------------------------------------------------------------

$white:     $asl--white;
$gray-100:  $asl--gray-100;
$gray-200:  $asl--gray-200;
$gray-300:  $asl--gray-300;
$gray-400:  $asl--gray-400;
$gray-500:  $asl--gray-500;
$gray-600:  $asl--gray-600;
$gray-700:  $asl--gray-700;
$gray-800:  $asl--gray-800;
$gray-900:  $asl--gray-900;
$black:     $asl--black;

$grays: ();
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    $asl--blue;
$indigo:  $asl--indigo;
$purple:  $asl--purple;
$pink:    $asl--pink;
$red:     $asl--red;
$orange:  $asl--orange;
$yellow:  $asl--yellow;
$green:   $asl--green;
$teal:    $asl--teal;
$cyan:    $asl--cyan;

$colors: ();
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;




//
// # Options
// =========
//
// Quickly modify global styling by enabling or disabling optional features.
//
// Reference: vendors/bootstrap/_variables.scss:117
// ----------------------------------------------------------------------------

$enable-rounded:            true;   // predefined `border-radius`
$enable-shadows:            false;  // predefined `box-shadow`
$enable-gradients:          false;  // gradients via `background-image`
$enable-transitions:        true;   // predefined transitions
$enable-hover-media-query:  false;  // [no description provided by Bootstrap]
$enable-grid-classes:       true;   // generates classes for grid system
$enable-print-styles:       true;   // sets up a print stylesheet




//
// # Spacing
// =========
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Add more entries to the `$spacers` map for more variation.
//
// Reference: vendors/bootstrap/_variables.scss:130
// ----------------------------------------------------------------------------

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * 0.25),
  2: ($spacer * 0.5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

//## This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);




//
// # Body
// ======
//
// Settings for the `<body>` element.
//
// Reference: vendors/bootstrap/_variables.scss:154
// ----------------------------------------------------------------------------

$body-bg:       $white;
$body-color:    $gray-900;




//
// # Links
// =======
//
// Style anchor elements.
//
// Reference: vendors/bootstrap/_variables.scss:161
// ----------------------------------------------------------------------------

$link-color:                theme-color("primary");
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     none;

//## Custom variables added by Accuraty
$link-border-color:         lighten($link-color, 42.5%);
$link-hover-border-color:   transparent;
$link-active-bg:            rgba($gray-800, 0.1);

//## Custom variables added by Accuraty
$link-inverse-color:        $white;
$link-inverse-border-color: rgba($white, 0.5);
$link-inverse-hover-color:  rgba($white, 0.6);
$link-inverse-hover-border-color: transparent;

//## Custom variables added by Accuraty
$link-focus-outline-width:  5px;
$link-focus-outline-style:  auto;
$link-focus-outline-color:  -webkit-focus-ring-color;




//
// # Grid breakpoints
// ==================
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
//
// Reference: vendors/bootstrap/_variables.scss:171
// ----------------------------------------------------------------------------

$grid-breakpoints: (
  xs:  0,
  sm:  576px,
  md:  768px,
  lg:  992px,
  xl:  1200px,
  xxl: 1600px // custom size added by Accuraty
);
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);




//
// # Grid containers
// =================
//
// Define the maximum width of `.container` for different screen sizes.
//
// Reference: vendors/bootstrap/_variables.scss:187
// ----------------------------------------------------------------------------

$container-max-widths: (
  sm:  540px,
  md:  720px,
  lg:  960px,
  xl:  1140px,
  xxl: 1540px // custom size added by Accuraty
);
@include _assert-ascending($container-max-widths, "$container-max-widths");




//
// # Grid columns
// ==============
//
// Set the number of columns and specifiy the width of the gutters.
//
// Reference: vendors/bootstrap/_variables.scss:200
// ----------------------------------------------------------------------------

$grid-columns:          $asl--grid-columns;
$grid-gutter-width:     $asl--grid-gutter-width;




//
// # Components
// ============
//
// Define common padding and border radius sizes and more.
//
// Reference: vendors/bootstrap/_variables.scss:207
// ----------------------------------------------------------------------------

$line-height-lg:          $asl--line-height-normal;
$line-height-sm:          $asl--line-height-normal;

$border-width:            $asl--border-width-normal;

$border-radius:           $asl--border-radius;
$border-radius-lg:        $asl--border-radius-lg;
$border-radius-sm:        $asl--border-radius-sm;

//## Custom variables added by Accuraty
$box-shadow:              $asl--box-shadow;
$box-shadow-hover:        $asl--box-shadow-hover;

$component-active-color:  $white;
$component-active-bg:     theme-color("primary");

$caret-width:             0.3em;

//## Custom variables added by Accuraty
$transition-speed:        $asl--speed;
$transition-easing:       $asl--easing;

$transition-base:         all $transition-speed $transition-easing;
$transition-fade:         opacity ($transition-speed * 0.75) linear;
$transition-collapse:     height ($transition-speed * 1.75) ease;




//
// # Fonts
// =======
//
// Font, line-height, and color for body text, headings, and more.
//
// Reference: vendors/bootstrap/_variables.scss:230
// ----------------------------------------------------------------------------

$font-family-sans-serif: $asl--font-family-sans-serif;
$font-family-serif:      $asl--font-family-serif;
$font-family-monospace:  $asl--font-family-monospace;
$font-family-base:       $font-family-sans-serif;

$font-size-base:  $asl--size-6;
$font-size-lg:    $asl--size-5;
$font-size-sm:    $asl--size-7;
$font-size-xs:    $asl--size-8;

$font-weight-normal:  $asl--font-weight-normal;
$font-weight-bold:    $asl--font-weight-bold;

$font-weight-base:    $asl--font-weight-normal;
$line-height-base:    $asl--line-height-normal;

$h1-font-size:    $asl--size-1;
$h2-font-size:    $asl--size-2;
$h3-font-size:    $asl--size-3;
$h4-font-size:    $asl--size-4;
$h5-font-size:    $asl--size-5;
$h6-font-size:    $asl--size-6;

$headings-margin-bottom: ($spacer / 2);
$headings-font-family:   inherit;
$headings-font-weight:   $asl--font-weight-medium;
$headings-line-height:   $asl--line-height-tightest;
$headings-color:         inherit;

$display1-size:       $asl--size-xl-1;
$display2-size:       $asl--size-xl-2;
$display3-size:       $asl--size-xl-3;
$display4-size:       $asl--size-xl-4;

$display1-weight:     $asl--font-weight-light;
$display2-weight:     $asl--font-weight-light;
$display3-weight:     $asl--font-weight-light;
$display4-weight:     $asl--font-weight-light;
$display-line-height: $headings-line-height;

$lead-font-size:    $asl--size-5;
$lead-font-weight:  $asl--font-weight-light;

$small-font-size: 80%;

$text-muted: $gray-600;

$blockquote-small-color:  $gray-600;
$blockquote-font-size:    ($font-size-base * 1.25);

//## Custom variables added by Accuraty
$blockquote-border-color:     $gray-200;
$blockquote-border-width:     $asl--border-width-thick;
$blockquote-bg-color:         $gray-100;
$blockquote-small-font-size:  $asl--size-8;

$hr-border-color: rgba($black, 0.1);
$hr-border-width: $border-width;

$mark-padding: 0.2em;

$dt-font-weight: $font-weight-bold;

$kbd-box-shadow:         inset 0 -0.1rem 0 rgba($black, 0.25);
$nested-kbd-font-weight: $font-weight-bold;

$list-inline-padding: 5px;

$mark-bg: #fcf8e3;




//
// # Tables
// ========
//
// Customizes `.table` component with basic values used with all variations.
//
// Reference: vendors/bootstrap/_variables.scss:297
// ----------------------------------------------------------------------------

$table-cell-padding:            0.75rem;
$table-cell-padding-sm:         0.3rem;

$table-bg:                      transparent;
$table-accent-bg:               rgba($black, 0.05);
$table-hover-bg:                rgba($black, 0.075);
$table-active-bg:               $table-hover-bg;

$table-border-width:            $border-width;
$table-border-color:            $gray-200;

$table-head-bg:                 $gray-200;
$table-head-color:              $gray-700;

$table-inverse-bg:              $gray-900;
$table-inverse-accent-bg:       rgba($white, 0.05);
$table-inverse-hover-bg:        rgba($white, 0.075);
$table-inverse-border-color:    lighten($gray-900, 7.5%);
$table-inverse-color:           $body-bg;




//
// # Buttons
// =========
//
// For each of Bootstrap's buttons, define text, background, and border color.
//
// Reference: vendors/bootstrap/_variables.scss:322
// ----------------------------------------------------------------------------

$input-btn-padding-y:       0.5rem;
$input-btn-padding-x:       0.75rem;
$input-btn-line-height:     1.25;

$input-btn-padding-y-sm:    0.25rem;
$input-btn-padding-x-sm:    0.5rem;
$input-btn-line-height-sm:  1.5;

$input-btn-padding-y-lg:    0.5rem;
$input-btn-padding-x-lg:    1rem;
$input-btn-line-height-lg:  1.5;

$btn-font-weight:                $font-weight-normal;
$btn-box-shadow:                 inset 0 1px 0 rgba($white, 0.15), 0 1px 1px rgba($black, 0.075);
$btn-focus-box-shadow:           0 0 0 3px rgba(theme-color("primary"), 0.25);
$btn-active-box-shadow:          inset 0 3px 5px rgba($black, 0.125);

$btn-link-disabled-color:        $gray-600;

$btn-block-spacing-y:            0.5rem;

//## Used to customize button radius independently from global border radius.
$btn-border-radius:      $border-radius;
$btn-border-radius-lg:   $border-radius-lg;
$btn-border-radius-sm:   $border-radius-sm;

$btn-transition:         all $transition-speed $transition-easing;




//
// # Forms
// =======
//
// Reference: vendors/bootstrap/_variables.scss:355
// ----------------------------------------------------------------------------

$input-bg:                  $white;
$input-disabled-bg:         $gray-200;

$input-color:               $gray-700;
$input-border-color:        rgba($black, 0.15);
$input-btn-border-width:    $border-width; // For form controls and buttons
$input-box-shadow:          inset 0 1px 1px rgba($black, 0.075);

$input-border-radius:       $border-radius;
$input-border-radius-lg:    $border-radius-lg;
$input-border-radius-sm:    $border-radius-sm;

$input-focus-bg:            $input-bg;
$input-focus-border-color:  lighten(theme-color("primary"), 25%);
$input-focus-box-shadow:    $input-box-shadow, $btn-focus-box-shadow;
$input-focus-color:         $input-color;

$input-placeholder-color:   $gray-600;

$input-height-border:       $input-btn-border-width * 2;

$input-height-inner:        ($font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2);
$input-height:              calc(#{$input-height-inner} + #{$input-height-border});

$input-height-inner-sm:         ($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2);
$input-height-sm:               calc(#{$input-height-inner-sm} + #{$input-height-border});

$input-height-inner-lg:         ($font-size-sm * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2);
$input-height-lg:               calc(#{$input-height-inner-lg} + #{$input-height-border});

$input-transition: border-color $transition-speed $transition-easing, box-shadow $transition-speed $transition-easing;

$form-text-margin-top:      0.25rem;

$form-check-margin-bottom:  0.5rem;
$form-check-input-gutter:   1.25rem;
$form-check-input-margin-y: 0.25rem;
$form-check-input-margin-x: 0.25rem;

$form-check-inline-margin-x: 0.75rem;

$form-group-margin-bottom:   1rem;

$input-group-addon-bg:           $gray-200;
$input-group-addon-border-color: $input-border-color;




//
// # Custom forms
// ==============
//
// [Skipping this section in Bootstrap's variables]
//
// Reference: vendors/bootstrap/_variables.scss:403
// ----------------------------------------------------------------------------




//
// # Form validation
// =================
//
// [Skipping this section in Bootstrap's variables]
//
// Reference: vendors/bootstrap/_variables.scss:483
// ----------------------------------------------------------------------------




//
// # Dropdowns
// ===========
//
// Dropdown menu container and contents.
//
// Reference: vendors/bootstrap/_variables.scss:488
// ----------------------------------------------------------------------------

$dropdown-min-width:             10rem;
$dropdown-padding-y:             0.5rem;
$dropdown-spacer:                0.125rem;
$dropdown-bg:                    $white;
$dropdown-border-color:          rgba($black, 0.15);
$dropdown-border-width:          $border-width;
$dropdown-divider-bg:            $gray-200;
$dropdown-box-shadow:            0 0.5rem 1rem rgba($black, 0.175);

$dropdown-link-color:            $gray-900;
$dropdown-link-hover-color:      darken($gray-900, 5%);
$dropdown-link-hover-bg:         $gray-100;

$dropdown-link-active-color:     $component-active-color;
$dropdown-link-active-bg:        $component-active-bg;

$dropdown-link-disabled-color:   $gray-600;

$dropdown-item-padding-y:        0.25rem;
$dropdown-item-padding-x:        1.5rem;

$dropdown-header-color:          $gray-600;




//
// # Z-index master list
// =====================
//
// Warning! Avoid customizing these values. They are designed to work together.
//
// Reference: vendors/bootstrap/_variables.scss:516
// ----------------------------------------------------------------------------

// $zindex-dropdown:           1000;
// $zindex-sticky:             1020;
// $zindex-fixed:              1030;
// $zindex-modal-backdrop:     1040;
// $zindex-modal:              1050;
// $zindex-popover:            1060;
// $zindex-tooltip:            1070;




//
// # Navs
// ======
//
// Reference: vendors/bootstrap/_variables.scss:529
// ----------------------------------------------------------------------------

$nav-link-padding-y:                  0.5rem;
$nav-link-padding-x:                  1rem;
$nav-link-disabled-color:             $gray-600;

$nav-tabs-border-color:               $gray-300;
$nav-tabs-border-width:               $border-width;
$nav-tabs-border-radius:              $border-radius;
$nav-tabs-link-hover-border-color:    $gray-200;
$nav-tabs-link-active-color:          $gray-700;
$nav-tabs-link-active-bg:             $body-bg;
$nav-tabs-link-active-border-color:   $gray-300;

$nav-pills-border-radius:             $border-radius;
$nav-pills-link-active-color:         $component-active-color;
$nav-pills-link-active-bg:            $component-active-bg;




//
// # Navbar
// ========
//
// Reference: vendors/bootstrap/_variables.scss:547
// ----------------------------------------------------------------------------

$navbar-padding-y:              ($spacer / 2);
$navbar-padding-x:              $spacer;

$navbar-brand-font-size:        $font-size-lg;

//## Compute the navbar-brand padding-y so the navbar-brand will have the same
//## height as navbar-text and nav-link
$nav-link-height:               $navbar-brand-font-size * $line-height-base;
$navbar-brand-height:           ($font-size-base * $line-height-base + $nav-link-padding-y * 2);
$navbar-brand-padding-y:        ($navbar-brand-height - $nav-link-height) / 2;

$navbar-toggler-padding-y:           0.25rem ;
$navbar-toggler-padding-x:           0.75rem ;
$navbar-toggler-font-size:           $font-size-lg ;
$navbar-toggler-border-radius:       $btn-border-radius ;

$navbar-dark-color:                 rgba($white, 0.5) ;
$navbar-dark-hover-color:           rgba($white, 0.75) ;
$navbar-dark-active-color:          rgba($white, 1) ;
$navbar-dark-disabled-color:        rgba($white, 0.25) ;
// $navbar-dark-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") ;
$navbar-dark-toggler-border-color:  rgba($white, 0.1) ;

$navbar-light-color:                rgba($black, 0.5) ;
$navbar-light-hover-color:          rgba($black, 0.7) ;
$navbar-light-active-color:         rgba($black, 0.9) ;
$navbar-light-disabled-color:       rgba($black, 0.3) ;
// $navbar-light-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") ;
$navbar-light-toggler-border-color: rgba($black, 0.1) ;

//## Custom variable added by Accuraty.
//## Used to set height and spacing on various components (e.g., to add top
//## margin to the `<main>` whenever the navbar is fixed to the top).
$navbar-height:                     50px;




//
// # Pagination
// ============
//
// Reference: vendors/bootstrap/_variables.scss:577
// ----------------------------------------------------------------------------

$pagination-padding-y:                0.5rem;
$pagination-padding-x:                0.75rem;
$pagination-padding-y-sm:             0.25rem;
$pagination-padding-x-sm:             0.5rem;
$pagination-padding-y-lg:             0.75rem;
$pagination-padding-x-lg:             1.5rem;
$pagination-line-height:              1.25;

$pagination-color:                     $link-color;
$pagination-bg:                        $white;
$pagination-border-width:              $border-width;
$pagination-border-color:              $gray-300;

$pagination-hover-color:               $link-hover-color;
$pagination-hover-bg:                  $gray-200;
$pagination-hover-border-color:        $gray-300;

$pagination-active-color:              $white;
$pagination-active-bg:                 theme-color("primary");
$pagination-active-border-color:       theme-color("primary");

$pagination-disabled-color:            $gray-600;
$pagination-disabled-bg:               $white;
$pagination-disabled-border-color:     $gray-300;




//
// # Jumbotron
// ===========
//
// Reference: vendors/bootstrap/_variables.scss:605
// ----------------------------------------------------------------------------

$jumbotron-padding:              2rem;
$jumbotron-bg:                   $gray-200;




//
// # Cards
// =======
//
// Reference: vendors/bootstrap/_variables.scss: 611
// ----------------------------------------------------------------------------

$card-spacer-y:            0.75rem;
$card-spacer-x:            1.25rem;
$card-border-width:        $border-width;
$card-border-radius:       $border-radius;
$card-border-color:        rgba($black, 0.125);
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width});
$card-cap-bg:              rgba($black, 0.03);
$card-bg:                  $white;

$card-img-overlay-padding: 1.25rem;

$card-deck-margin:          ($grid-gutter-width / 2);

$card-columns-count:        3;
$card-columns-gap:          1.25rem;
$card-columns-margin:       $card-spacer-y;




//
// # Tooltips
// ==========
//
// Reference: vendors/bootstrap/_variables.scss:631
// ----------------------------------------------------------------------------

$tooltip-max-width:           200px;
$tooltip-color:               $white;
$tooltip-bg:                  $black;
$tooltip-opacity:             0.9;
$tooltip-padding-y:           3px;
$tooltip-padding-x:           8px;
$tooltip-margin:              0;

$tooltip-arrow-width:         5px;
$tooltip-arrow-height:        5px;
$tooltip-arrow-color:         $tooltip-bg;




//
// # Popovers
// ==========
//
// Reference: vendors/bootstrap/_variables.scss:647
// ----------------------------------------------------------------------------

$popover-inner-padding:               1px;
$popover-bg:                          $white;
$popover-max-width:                   276px;
$popover-border-width:                $border-width;
$popover-border-color:                rgba($black, 0.2);
$popover-box-shadow:                  0 5px 10px rgba($black, 0.2);

$popover-title-bg:                    darken($popover-bg, 3%);
$popover-title-color:                 $headings-color;
$popover-title-padding-y:             8px;
$popover-title-padding-x:             14px;

$popover-content-color:               $body-color;
$popover-content-padding-y:           9px;
$popover-content-padding-x:           14px;

$popover-arrow-width:                 10px;
$popover-arrow-height:                5px;
$popover-arrow-color:                 $popover-bg;

$popover-arrow-outer-width:           ($popover-arrow-width + 1px);
$popover-arrow-outer-color:           fade-in($popover-border-color, .05);




//
// # Badges
// ========
//
// Reference: vendors/bootstrap/_variables.scss:673
// ----------------------------------------------------------------------------

$badge-color:                 $white;
$badge-font-size:             75%;
$badge-font-weight:           $font-weight-bold;
$badge-padding-y:             0.25em;
$badge-padding-x:             0.4em;

$badge-pill-padding-x:        0.6em;

//## Use a higher than normal value to ensure completely rounded edges when
//## customizing padding or font-size on labels.
$badge-pill-border-radius:    10rem;




//
// # Modals
// ========
//
// Reference: vendors/bootstrap/_variables.scss:687
// ----------------------------------------------------------------------------

$modal-inner-padding:             15px; // applied to the modal body

$modal-dialog-margin:             10px;
$modal-dialog-margin-y-sm-up:     30px;

$modal-title-line-height:         $line-height-base;

$modal-content-bg:               $white;
$modal-content-border-color:     rgba($black, 0.2);
$modal-content-border-width:     $border-width;
$modal-content-box-shadow-xs:    0 3px 9px rgba($black, 0.5);
$modal-content-box-shadow-sm-up: 0 5px 15px rgba($black, 0.5);

$modal-backdrop-bg:           $black;
$modal-backdrop-opacity:      0.5;
$modal-header-border-color:   $gray-200;
$modal-footer-border-color:   $modal-header-border-color;
$modal-header-border-width:   $modal-content-border-width;
$modal-footer-border-width:   $modal-header-border-width;
$modal-header-padding:        15px;

$modal-lg:                    800px;
$modal-md:                    500px;
$modal-sm:                    300px;

$modal-transition:            transform .3s ease-out;




//
// # Alerts
// ========
//
// Define alert colors, border radius, and padding.
//
// Reference: vendors/bootstrap/_variables.scss:718
// ----------------------------------------------------------------------------

$alert-padding-y:             0.75rem;
$alert-padding-x:             1.25rem;
$alert-margin-bottom:         1rem;
$alert-border-radius:         $border-radius;
$alert-link-font-weight:      $font-weight-bold;
$alert-border-width:          $border-width;




//
// # Progress bars
// ===============
//
// Reference: vendors/bootstrap/_variables.scss:730
// ----------------------------------------------------------------------------

$progress-height:               1rem;
$progress-font-size:            0.75rem;
$progress-bg:                   $gray-200;
$progress-border-radius:        $border-radius;
$progress-box-shadow:           inset 0 0.1rem 0.1rem rgba($black, 0.1);
$progress-bar-color:            $white;
$progress-bar-bg:               theme-color("primary");
$progress-bar-animation-timing: 1s linear infinite;
$progress-bar-transition:       width .6s ease;




//
// # List group
// ============
//
// Reference: vendors/bootstrap/_variables.scss:742
// ----------------------------------------------------------------------------

$list-group-bg:                  $white;
$list-group-border-color:        rgba($black, 0.125);
$list-group-border-width:        $border-width;
$list-group-border-radius:       $border-radius;

$list-group-item-padding-y:      0.75rem;
$list-group-item-padding-x:      1.25rem;

$list-group-hover-bg:            $gray-100;
$list-group-active-color:        $component-active-color;
$list-group-active-bg:           $component-active-bg;
$list-group-active-border-color: $list-group-active-bg;

$list-group-disabled-color:      $gray-600;
$list-group-disabled-bg:         $list-group-bg;

$list-group-action-color:        $gray-700;
$list-group-action-hover-color:  $list-group-action-color;

$list-group-action-active-color: $body-color;
$list-group-action-active-bg:    $gray-200;




//
// # Image thumbnails
// ==================
//
// Reference: vendors/bootstrap/_variables.scss:767
// ----------------------------------------------------------------------------

$thumbnail-padding:           0.25rem;
$thumbnail-bg:                $body-bg;
$thumbnail-border-width:      $border-width;
$thumbnail-border-color:      $gray-300;
$thumbnail-border-radius:     $border-radius;
$thumbnail-box-shadow:        0 1px 2px rgba($black, 0.075);
$thumbnail-transition:        all $transition-speed $transition-easing;




//
// # Figures
// =========
//
// Reference: vendors/bootstrap/_variables.scss:778
// ----------------------------------------------------------------------------

$figure-caption-font-size: 90%;
$figure-caption-color:     $gray-600;




//
// # Breadcrumbs
// =============
//
// Reference: vendors/bootstrap/_variables.scss:784
// ----------------------------------------------------------------------------

$breadcrumb-padding-y:          0.75rem;
$breadcrumb-padding-x:          1rem;
$breadcrumb-item-padding:       0.5rem;

$breadcrumb-bg:                 $gray-200;
$breadcrumb-divider-color:      $gray-600;
$breadcrumb-active-color:       $gray-600;
$breadcrumb-divider:            "/";




//
// # Carousel
// ==========
//
// Reference: vendors/bootstrap/_variables.scss:796
// ----------------------------------------------------------------------------

$carousel-control-color:                      $white;
$carousel-control-width:                      15%;
$carousel-control-opacity:                    0.5;

$carousel-indicator-width:                    30px;
$carousel-indicator-height:                   3px;
$carousel-indicator-spacer:                   3px;
$carousel-indicator-active-bg:                $white;

$carousel-caption-width:                      70%;
$carousel-caption-color:                      $white;

$carousel-control-icon-width:                 20px;

// $carousel-control-prev-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23");
// $carousel-control-next-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23");

$carousel-transition:           transform .6s ease;




//
// # Close
// =======
//
// Reference: vendors/bootstrap/_variables.scss:818
// ----------------------------------------------------------------------------

$close-font-size:             $font-size-base * 1.5;
$close-font-weight:           $font-weight-bold;
$close-color:                 $black;
$close-text-shadow:           0 1px 0 $white;




//
// # Code
// ======
//
// Reference: vendors/bootstrap/_variables.scss:825
// ----------------------------------------------------------------------------

$code-font-size:              90%;
$code-padding-y:              .2rem;
$code-padding-x:              .4rem;
$code-color:                  #bd4147;
$code-bg:                     $gray-100;

$kbd-color:                   $white;
$kbd-bg:                      $gray-900;

$pre-color:                   $gray-900;
$pre-scrollable-max-height:   340px;
