//
// Container
// =========

.container,
.container-fluid {
  padding-right: 1rem;
  padding-left: 1rem;

  @include media-breakpoint-up(md) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
