// ============================================================================
//
//  Styles used for documentation pages (e.g., Help, How-To, Reminders)
//
//  [Table of Contents]
//
//  - Mandatory imports
//  - Variables
//  - General
//  - Button
//  - Callout
//  - Menu
//  - Modal
//
//  --
//
//  Dev notes
//
//  - Accuraty and Bootstrap variables are included for easy reuse. Doing so
//    gives us access to the same utilities used throughout this project.
//
//  - Accuraty"s **docs variables** are prefixed with `$docs-`. These custom
//    variables avoid conflict with the standard components used elsewhere.
//
//  - Classes are prefixed with `.docs-`. These classes indicate custom-built
//    or modified components used exclusively on these documentation pages.
//
// ============================================================================




//
// Mandatory imports
// =================
//
// 1. Core Bootstrap abstracts.
// 2. Custom abstracts.
// ----------------------------------------------------------------------------

@import "../../node_modules/bootstrap/scss/functions"; // 1
@import "../../node_modules/bootstrap/scss/mixins"; // 1
@import "../../node_modules/bootstrap/scss/variables"; // 1
@import "_abstracts/functions"; // 2
@import "_abstracts/mixins"; // 2
@import "_abstracts/variables"; // 2




//
// Variables
// =========

$docs-primary:  #0767b1; // Accuraty blue

$docs-danger:   #d4231d;
$docs-info:     #09addf;
$docs-success:  #008b2f;
$docs-warning:  #fa9602;




//
// Theme overrides
// ===============
//
// Quick modifications for existing elements or styles.
//
// 1. This id is added to the `<main>` tag in the page template, so the
//    selector wraps around all other styles in the theme overrides section.
//    Do not add a closing brace or move the selector.
// ----------------------------------------------------------------------------

#manage { // 1

  &.main {}

  // a {
  //   @include plain-visited {
  //     color: $docs-primary;
  //   }

  //   @include hover-focus {
  //     color: darken($docs-primary, 12%);
  //   }
  // }

  // .DnnModule__content {
  //   a:not(.alert-link):not(.btn):not(.badge):not(.page-link) {
  //     border-bottom-color: transparent;

  //     @include hover-focus {
  //       border-bottom-color: darken($docs-primary, 12%);
  //     }
  //   }
  // }

} // Important! This closes `#manage` and must come *after* overrides.




//
// Button
// ======

.docs-btn {
  color: $docs-primary !important;
  background-color: transparent !important;
  border-color: $docs-primary !important;

  @include hover-focus {
    color: $white !important;
    background-color: $docs-primary !important;
    border-color: $docs-primary !important;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 2px rgba($docs-primary, .25);
  }
}




//
// Callout
// =======
//
// Similar to alerts, but designed to call attention to key information with
// out being as visually disruptive as an alert.
//
// 1. Use `em` so the font size is relative to the size set in the parent.
// ----------------------------------------------------------------------------

.docs-callout {
  padding: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: .875em;
  background-color: $gray-100;
  border: $border-width solid $gray-200;
  border-left-width: .25rem;
  border-radius: .25rem;

  h4 {
    margin-top: 0;
    font-size: 1.125em; // 1
  }

  p,
  ul,
  ol {
    font-size: 1em; // 1
  }

  code {
    border-radius: .25rem;
  }

  /* stylelint-disable selector-max-id */
  & + & {
    margin-top: -.25rem;
  }
  /* stylelint-enable selector-max-id */
}

// Variations
@mixin docs-callout-variant($color) {
  border-left-color: $color;

  h4 {
    color: $color;
  }
}

.docs-callout-danger {
  @include docs-callout-variant($docs-danger);
}
.docs-callout-info {
  @include docs-callout-variant($docs-info);
}
.docs-callout-success {
  @include docs-callout-variant($docs-success);
}
.docs-callout-warning {
  @include docs-callout-variant($docs-warning);
}




//
// Menu
// ====
//
// Used as the table of contents menu in the sidebar.
// ----------------------------------------------------------------------------

.docs-menu {
  flex-direction: column;
  min-width: 160px;
  font-size: $font-size-sm;

  .docs-menu-label {
    padding: $nav-link-padding-y $nav-link-padding-x;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
  }

  .nav-link {
    color: $gray-600;
    border-radius: .25rem;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: color;

    @include hover-focus {
      color: $docs-primary;
    }

    &.active {
      font-weight: $font-weight-medium;
      color: $docs-primary;
      background-color: rgba(theme-color("dark"), .06);
    }
  }
}




//
// Modal
// =====

.docs-modal {
  @include media-breakpoint-up(md) {
    max-width: 640px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 800px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 960px;
  }

  img {
    width: 100%;

    & + p {
      margin-top: 1rem;
    }
  }
}
